:root
{
    /* fonts */
    --regular-font: "Arial, Helvetica, sans-serif";
    
    --font-size-extra-large: 32px;
    --font-size-large:24px;
    --font-size-medium:18px;
    --font-size-small:12px;

    /* sizes */
    --window-width: 900px;
    --window-height: 600px;

    --content-block-size: 200px;

    --default-margin: 20px;
    --default-icon-size: 40px;

    /* colors */
    --black: #000;
    --white: #fff;

    --mint: #00ffae;
    --light-blue: rgb(62, 201, 248);

}

html, body {
    margin: 0;
    padding: 0;
    height: var(--window-height);
    width: var(--window-width);
}

header
{
    height: 150px;
}

footer
{
    height: 80px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    width: var(--window-width);
}

footer a:link
{
    color:white;
}

footer a:visited
{
    color:purple;
}

footer a:hover
{
    color:darkgray;
}

footer a:active
{
    color: blue;
}


.logo
{
    float:left;
    padding: var(--default-margin);
    width: var(--default-icon-size);
    height: var(--default-icon-size);
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container
{
    width: var(--content-block-size);
    height: var(--content-block-size);
    display: flex;
    margin: var(--default-margin);
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.item-container:hover
{
    filter: grayscale(40);
    margin: var(--default-margin);
    transform: scale(1.1);
    transition: all 1s ease;
}

.item-container-background-image
{
    width: var(--content-block-size);
    height: var(--content-block-size);
}

.item-container-content
{
    position: absolute;
    font-size: var(--font-size-extra-large);
    color: var(--white);
}

.socials-logo
{
    width: var(--default-icon-size);
    height: var(--default-icon-size);
    margin-left: var(--default-margin);
}

.footer-contact-us
{
    margin-left:auto;
    margin-right: var(--default-margin);
}