/**
 * Basis CSS file
 *
 * @author  Jochem Grootherder
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

#person
{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png");
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    position: relative;
    animation: myMove 5s infinite;
}

@keyframes myMove
{
    from {left:0px; top:0px;}
    to {left: 300px;top:300px;}
}